name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-default:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Run tests no default feature
      run: cargo test --all-targets --no-default-features --verbose
    - name: Run tests with utils
      run: cargo test --all-targets -F utils --verbose
    - name: Run tests with oauth
      run: cargo test --all-targets -F oauth --verbose
